@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap");
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*css del body*/
body {
  background: rgb(255, 154, 189);
  background: rgb(222, 242, 247) linear-gradient(90deg, rgb(222, 242, 247) 25%, rgb(255, 154, 189) 99%);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  min-height: 200vh;
  position: relative;
}

.cuerpo--contacto {
  background: rgb(222, 242, 247) linear-gradient(90deg, rgb(222, 242, 247) 25%, rgb(255, 154, 189) 99%);
}

/*css de la navbar*/
.header {
  position: sticky;
}

.navbar--lepetit {
  background-color: rgba(51, 51, 51, 0.2549019608);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container--lepetit {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen__logo {
  height: 7%;
  width: 7%;
}

.nav-links--lepetit {
  list-style: none;
  display: flex;
}

.nav-links--lepetit li {
  padding: 15px;
}

.nav-links--lepetit a {
  color: rgba(255, 255, 255, 0.8901960784);
  text-decoration: none;
  font-size: 25px;
}

.hero--lepetit {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero--lepetit video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.hero-content--lepetit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-content--lepetit h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.hero-content--lepetit p {
  font-size: 35px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  padding-bottom: 100px;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid rgba(218, 216, 216, 0.5490196078);
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-decoration: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: rgba(3, 3, 3, 0.7725490196);
  text-decoration: none;
  text-decoration: none;
}

.card-content a {
  color: black;
  text-decoration: none;
  list-style: none;
}

.card-content h2 {
  display: flex;
  color: black;
  font-size: 40px;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-10px);
  transition: 2;
}

.card-content p {
  font-size: 14px;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #6e6e6e;
  color: #f1deda;
  text-align: center;
  padding: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-social {
  margin-top: 5px;
}

.sfmedia {
  display: flex;
  justify-content: center;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #ff9abd;
  border-radius: 50%;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
}

.titulo-card h2 {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  margin-top: 20px;
}

.social-icon i {
  vertical-align: middle;
}

.contenido--lepetit {
  margin-top: 50px;
}

.main--contacto {
  background: rgb(222, 242, 247) linear-gradient(90deg, rgb(222, 242, 247) 25%, rgb(255, 154, 189) 99%);
  margin: 5px;
  margin-top: 120px;
}

.body--contacto {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(222, 242, 247) linear-gradient(90deg, rgb(222, 242, 247) 25%, rgb(255, 154, 189) 99%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container--contacto {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

textarea,
input[type=text],
input[type=email] {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

button {
  font-family: "Inter", sans-serif;
  width: auto;
  padding: 10px;
  background-color: #f1deda;
  color: #def2f7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9abd;
}

.map-container {
  display: flex;
  height: cover;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  height: 100vh;
}

.map-window {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

.mapa > img {
  width: 750px;
  height: 380px;
  padding: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}

.map-window h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.map-window p {
  font-size: 14px;
  margin-bottom: 5px;
}

.map-window input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.map-window button {
  width: 100%;
  padding: 10px;
  background-color: #ff9abd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff9abd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-window button:hover {
  background-color: #350513;
}

.contacto--lepetit {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5px;
}

.contenedor--nosotros {
  animation: myAnim 1s ease 0s 1 normal forwards;
  display: flex;
  align-items: flex-start;
  padding-top: 140px;
  padding-left: 5px;
}

.main--nosotros {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
}

.imagen__nosotros {
  max-width: 617px;
  height: 481px;
  display: flex;
}

.texto-nosotros {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  gap: 5px;
}

.titulo-contacto {
  font-family: "Inter", sans-serif;
  color: #6e6e6e;
  font-weight: bold;
  font-size: 45px;
}

.titulo-nosotros {
  font-family: "Inter", sans-serif;
  color: #6e6e6e;
  font-weight: bold;
  font-size: 45px;
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.main--nosotros > h2 {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-left: 20px;
  font-size: 60px;
}

.texto-nosotros p {
  font-size: 16px;
}

.container-productos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 25%;
  margin-left: 20%;
  padding-bottom: 70px;
  padding-left: 5%;
  padding-right: 5%;
}

.body_lepetit_productos {
  background: rgb(222, 242, 247) linear-gradient(90deg, rgb(222, 242, 247) 25%, rgb(255, 154, 189) 99%);
}

.imagen-titulo {
  width: 75px;
  height: auto;
  margin-left: 400px;
}

.imagen-titulo2 {
  width: 100px;
  height: auto;
  margin-left: 800px;
}

.imagen-itulo3 {
  width: 150px;
  height: auto;
  margin-left: 750px;
}

.titulo-historia {
  font-family: "Inter", sans-serif;
  color: #6e6e6e;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
}

.parrafo-historia {
  font-family: "Roboto", sans-serif;
  padding: 30px;
  column-count: 2;
  column-gap: 20px;
}

.bondades-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.imagen-listadoLPC {
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

/*arrancan las media queries*/
@media screen and (max-width: 720px) {
  .container--lepetit {
    background-color: #ff9abd;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .nav-links--lepetit {
    background-color: rgba(240, 240, 240, 0.5333333333);
    color: black;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 10px;
    right: 0;
    padding: 0px;
    border-radius: 5px;
    display: none;
    font-size: 15px;
  }
  .nav-links--lepetit.active {
    display: flex;
  }
  .nav-links--lepetit li {
    margin: 0px 0;
    color: black;
  }
  .imagen__logo {
    height: 90px;
    width: 90px;
    animation: imagen__logo 3s ease 5s 1 normal both;
  }
  .bondades-section {
    padding-top: 50px;
    padding-bottom: 150px;
  }
  .hero-content--lepetit h1 {
    font-size: 60px;
    margin-top: 60px;
  }
  .contenedor--nosotros {
    display: flex;
    flex-direction: column;
    align-items: wrap;
  }
  .texto-nosotros {
    margin-top: 10px;
  }
  @keyframes imagen__logo {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .lista--productos {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  h1, h3 {
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  .lista--productos li {
    flex: 0 0 50%;
    padding: 10px;
  }
  .map-container {
    width: auto;
    padding-top: 125px;
  }
  .dos-lineas {
    column-count: 1;
    column-gap: 20px;
  }
  .map-container, .texto-nosotros {
    display: flex;
    flex-direction: column;
  }
  .map-window {
    width: 250px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .mapa > img {
    width: 300px;
    height: 520px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
  }
  .parrafo-historia {
    margin-bottom: 45px;
    column-count: 1;
    column-width: 100px;
  }
  .imagen__nosotros {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
    width: 300px;
    height: 300px;
  }
  .container-productos {
    padding: 5px;
    margin-bottom: 100px;
  }
  .container--contacto {
    max-width: 85%;
  }
  footer {
    height: auto;
    position: absolute;
  }
  .sfmedia {
    text-align: center;
  }
  .titulo-contacto {
    font-family: "Inter", sans-serif;
    color: #6e6e6e;
    font-weight: bold;
    font-size: 30px;
  }
  .titulo-nosotros {
    margin-top: 15%;
  }
  .imagen-listadoLPC {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 360px) {
  .container--lepetit {
    background-color: #ff9abd;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .nav-links--lepetit {
    background-color: rgba(240, 240, 240, 0.5333333333);
    color: black;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 10px;
    right: 0;
    padding: 0px;
    border-radius: 5px;
    display: none;
    font-size: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
