@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');
$fuentes-titulos: 'Inter', sans-serif;
$fuentes-cuerpo: 'Roboto', sans-serif;
$fondo-cuerpo: rgb(222,242,247) linear-gradient(90deg, rgba(222,242,247,1) 25%, rgba(255,154,189,1) 99%);


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


body {
    background: rgb(255,154,189);
    background: $fondo-cuerpo;
    margin: 0;
    padding: 0;
    font-family: $fuentes-titulos;
    min-height: 200vh;
    position: relative;
    
  }
  .cuerpo--contacto{
    background: $fondo-cuerpo;
    
  }
  .header{
    position: sticky;
  }
  .navbar--lepetit{
    background-color: #33333341;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .container--lepetit {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagen__logo {
    height: 7%;
    width: 7%;
  }
  
  .nav-links--lepetit {
    list-style: none;
    display: flex;
  }
  
  .nav-links--lepetit li {
    padding: 15px;
  }
  
  .nav-links--lepetit a {
    color: #ffffffe3;
    text-decoration: none;
    font-size: 25px;
  }
  
  
  .hero--lepetit {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .hero--lepetit video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
  
  .hero-content--lepetit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .hero-content--lepetit h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }
  
  .hero-content--lepetit p {
    font-size: 35px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 5px; 
    padding: 20px;
  }
  
  .card {
    width: 300px; 
    height: 400px; 
    border: 1px solid #dad8d88c;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    text-decoration: none;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-content {
    font-family: $fuentes-cuerpo;
    position: absolute; 
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0; 
    padding: 15px;
    color: #030303c5;
    text-decoration: none;
    text-decoration: none;
  }
  
  .card-content a{
    color: black;
    text-decoration: none;
    list-style: none; 
  }
  .card-content h2 {
    display: flex;
    color: black;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: none;

  }
  .card:hover {
    transform: translateY(-10px);
    
  }
  .card-content p {
    font-size: 14px;
  }

footer {
  font-family: $fuentes-cuerpo;
  font-size: medium;
  background-color: #6e6e6e;
  color: #f1deda;
  text-align: center;
  padding:0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
 }

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-social {
  margin-top: 10px;
}
.sfmedia{
  display: flex;
  justify-content: center;
}
.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #ff9abd;
  border-radius: 50%;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
}
.titulo-card h2{
  font-family: $fuentes-titulos;
  font-size: 34px;
  margin-top: 20px;
}
.social-icon i {
  vertical-align: middle;
}
.contenido--lepetit {
  margin-top: 50px; 
}

.main--contacto{
  background: $fondo-cuerpo;
  margin:5px;
  margin-top: 120px;
  
}
.body--contacto{
  font-family: $fuentes-cuerpo;
  margin: 0;
  padding: 0;
  background: $fondo-cuerpo;
  display: flex;
  justify-content:center;
  align-items:flex-start;
  
}

.container--contacto {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  font-family: $fuentes-titulos;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
 }

label {
  font-family: $fuentes-titulos;
  font-size: 16px;
  font-weight: 500;
}

textarea,
input[type="text"],
input[type="email"] {
  font-family:$fuentes-cuerpo;
  width: 100%;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

button {
  font-family: $fuentes-titulos;
  width: auto;
  padding: 10px;
  background-color: #f1deda;
  color: #def2f7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9abd;
}
.map-container {
  display: flex;
  height: cover;
  justify-content: center;
  align-items: center;  
  margin-top: 150px;
  height: 100vh;
}

.map-window {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}
.mapa >img {
  width: 750px;
  height: 380px;
  padding: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}
.map-window h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;

}

.map-window p {
  font-size: 14px;
  margin-bottom: 5px;
}

.map-window input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.map-window button {
  width: 100%;
  padding: 10px;
  background-color: #ff9abd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-window button:hover {
  background-color: #350513;
}
.contacto--lepetit {
  font-family: $fuentes-titulos;
  font-size: 20px;
  margin  : 5px;
  row-count: 2; 
}
.contenedor--nosotros {
  animation: myAnim 1s ease 0s 1 normal forwards;
  display: flex;
  align-items: flex-start;
  padding-top: 140px;
  padding-left: 15px;
}
.main--nosotros {
  padding-top: 90px;
  display: flex;
  justify-content:center;

}
.imagen__nosotros { 
  max-width: 617px; 
  height: 481px; 
  display: flex;
    
}
.texto-nosotros {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  gap: 20px;
  
}

.main--nosotros>h2 {
  display: flex;

  padding-top: 45px;
  padding-left: 20px;
  font-size: 60px; 
}

.texto-nosotros p {
  font-size: 16px; 
}

.container-nosotros h2{
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  text-decoration: double;
  list-style: none;
}

.body_lepetit_productos{
    background: $fondo-cuerpo;
}
.imagen-titulo{

  width: 75px; 
  height: auto;
  margin-left: 400px;
  
}
.imagen-titulo2{
  width: 100px; 
  height: auto; 
  margin-left: 800px;
}
.imagen-titulo3{
  width: 150px; 
  height: auto; 
  margin-left: 750px;
}
.titulo-historia{
  font-family: $fuentes-titulos;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.parrafo-historia{
  font-family: $fuentes-cuerpo;
 padding: 30px;
 column-count: 2;
 column-gap: 20px;

  
}
#TORTAS, #CUPCAKES, #CAFES, #MACARONS, section{
  display: flex;
  margin: top 100px; ;
}

#TORTAS, #CUPCAKES, #CAFES, #MACARONS, .lista--productos {
  
  list-style: none; 
  padding: 35px; 
  margin-top: 10px;
  margin-left: 20px; 
  display: flex;
  flex-direction: column; 
  margin-bottom: 50px;
}

#TORTAS, #CUPCAKES, #CAFES, #MACARONS, .lista--productos li {
  border: none; 
  padding: 10px 0; 
    &:hover, &.active {
    cursor: pointer;
    box-shadow: inset;
    }
  }
  .dos-lineas {
    column-count: 2; 
    column-gap: 20px;
 
}



@media screen and (max-width: 720px) {

  .container--lepetit {
    background-color: #ff9abd6b;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .nav-links--lepetit {
    background-color: #f0f0f088;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 10px; 
    right: 0;
    padding: 0px;
    border-radius: 5px;
    display: none; 
    font-size: 15px;
  }

  .nav-links--lepetit.active {
    display: flex;
  }

  .nav-links--lepetit li {
    margin: 5px 0;
    color: black;
  }
  .imagen__logo {
    height: 100px;
    width: 100px;
    animation: imagen__logo 3s ease 5s 1 normal both;
  }
  .imagen__logo:hover {
    transform: translateY(-4);
  }

 .hero-content--lepetit h1{
  font-size: 60px;
  margin-top: 60px;
 }
 .contenedor--nosotros{
  text-align: center;
 }
.texto-nosotros{
  margin-top: 10px;
 }
.imagen__nosotros {
  display: none;
  
 }
 @keyframes imagen__logo {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
 }

 .lista--productos{
  flex-direction: row; 
  flex-wrap: wrap; 
  margin-left: 10px; 
}
h1, h3 {
  padding-top: 20px;
  font-family: $fuentes-titulos;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
 }

.lista--productos li {
  flex: 0 0 50%; 
  padding: 10px; 
}
.map-container{
  width: auto ;
}
.imagen-titulo{
  width: 50px; 
  height: auto;
  margin-left: 150px;
}
.imagen-titulo2{
  width: 75px; 
  height: auto;
  margin-left: 300px;
}
.imagen-titulo3{
  width: 100px; 
  height: auto;
  margin-left: 300px;
}
.dos-lineas {
  column-count: 1; 
  column-gap: 20px;
}
.map-container{
  display: flex;
  flex-direction: column;
}
.map-window {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
}
.mapa >img {
  width: 400px;
  height: 320px;
  padding: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}
.parrafo-historia{ 
  margin-bottom: 25px;
  column-count: 2;
  column-width: 100px;
  
}
.container--contacto {
  max-width: 70%;
}
.sfmedia{
  text-align: center;
}
footer{
  height: 125px;
}

}
